h1 {

    margin-bottom: 1px;
    margin-top: 1px;
    color: darkslategrey;
    font-size: xx-large;
    text-align: center;
    text-shadow: 0pc;
    font-style: italic
} 
--------------------------------------------
body {

}
-------------------------------------------
p {

}
--------------------------------------------
li {

}
--------------------------------------------

ul {

}
--------------------------------------------